

body {
  text-align: center;
  font-family: 'merriweather', serif;
  margin: 0;
  color: #40514E
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 7%;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.6rem;
  color: #66BFBF;
}

h2 {
  padding-bottom: 10px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  color: #66BFBF;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

span {}

p {
  /*text-align: left;*/
  margin: 0;
}


.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  bottom: 250px;
  left: 130px;
}

.top-cloud {
  top: 30px;
  right: 130px;
  position: absolute;
}

.middle-container {
  padding: 100px 0;
}

.profile {
  margin: 0 auto 100px;
  color: #40514E
}

.profile-img {
  width: 15%;
  margin-bottom: 40px;
}

.skill{
  margin-top: 100px;
}

.skill-row {
  text-align: left;
  width: 50%;
  line-height: 2;
  margin: 70px auto 100px auto;
}

.code-img {
  margin-right: 30px;
  width: 15%;
  float: left;
}

.data-img {
  margin-left: 30px;
  width: 15%;
  float: right;
}



.contact-h3 {
  margin-top: 40px;
}

.con-txt {
  margin: 40px auto 60px;
  width: 40%;
}
/*
.button-contact {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.button-contact:active {
  background-color: #3e8e41;
  box-shadow: 0 5px rgba(0, 0, 0, 0.19);
  transform: translateY(3px);
}
*/

/*Button color start at :  #11cdd4       end at:#11999e
   Hover grad start at: #30e3cb     end at :#11999e or can be #2bc4ad
   */
.Contact-button {
	-moz-box-shadow: -2px 4px 5px 0px #9fb4f2;
	-webkit-box-shadow: -2px 4px 5px 0px #9fb4f2;
	box-shadow: -2px 4px 5px 0px #9fb4f2;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11cdd4), color-stop(1, #11999e) );
	background:-moz-linear-gradient( center top, #11cdd4 5%, #11999e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11cdd4', endColorstr='#11999e');
	background-color:#11cdd4;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
}.Contact-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #30e3cb), color-stop(1, #11cdd4) );
	background:-moz-linear-gradient( center top, #30e3cb 5%, #11cdd4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#30e3cb', endColorstr='#11cdd4');
	background-color:#11999e;
}.Contact-button:active {
	position:relative;
	top:1px;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 40px;
  padding-bottom: 20px;

}

.footer-link {
  width: auto;
  position: relative;
  margin: 40px 20px;
  text-decoration: none;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.footer-link:hover{
  color: #eaf6f6
}

.copywright {
  margin-top: 15px;
  font-size: .75rem;
  color: #EAF6F6 ;
  font-family: 'Montserrat', sans-serif;
}
